*,
*::after,
*::before {
  box-sizing: border-box;
}

.contenido {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  height: 40vh;
  flex-wrap: nowrap;

  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 30px;
}
.item {
  /* Propiedades para los hijos
  https://cssreference.io/property/flex-grow/ 
  */
  /* Propiedades y su valor por defecto
    flex-grow:0;
    flex-shrink:1;
    flex-basis: auto;
*/
  border: 1px solid black;
  background-color: palevioletred;

  /* Cuando la caja flexbox tenga espacio sobrante, es la habilidad o el factor de crecer, valor por defecto es 0, NO se aceptan valores negativos */
}
.item-2 {
  border: 1px solid black;
  background-color: aquamarine;
  flex-shrink: 1;
  /*Cuando la caja flexbox NO tenga espacio sobrante, es la habilidad o el factor de encogerse, valor por defecto es 1, NO se aceptan valores negativos  */
}
.item-2:nth-child(2) {
  flex-shrink: 2;
}

.item-3 {
  border: 1px solid black;
  background-color: rgb(135, 112, 216);
  /* 
  Es el tamaño del elemento hijo dentro de la línea de la caja flexbox Si la caja flexbox tienen dirección de fila, flex-basis representa el width
  Si la caja flexbox tiene dirección de columna, flex-basis representa el height
  Valor por defecto auto 
  */
  flex-basis: auto;
  /* Es un shorthand de las propiedades flex-grow flex-shrink y flex-basis, en ese orden */
  flex: 0 1 auto;
  /* Valor por defecto de la propiedades  */
}
/* .item:nth-child(2){
    flex-grow: 1;
} */

/* Propiedad de los hijos, Order */

.item-4 {
  background-color: darkorange;
  border: 1px solid white;
  /* Order
Representa el orden que tendrán los elementos hijos en la caja flexbox 
Valor por defecto 0
Se aceptan valores positivos y negativos 
Un valor menor siempre ira antes que un valor mayor  */
  order:0 ;
}
.item-4:nth-child(2){
  /* El elemento sera el primero */
  order: 1;

  /* Funciona como align-items, pero se aplica solo a un único elemento de flexbox, en lugar de a todos */

  /* flex-basis: 15%;
  height: 23px;
  margin-left: 20px; */

}
.item-4:nth-child(3){
 
 
  align-self: flex-end;

}
