.p-pseudoelementos::selection {
    color: #163b89;
    background-color: #6dd5ed;
  }
  *,*::after, *::before{
    /* considera los bordes como parte de contenido  */
    box-sizing: border-box;
  }

.container{
    background-color: darkgrey;
    display: flex;
    /* columna o fila flex-direction */
    /*  row  | row-reverse | colum | colum-reverse
    */
    flex-direction: row;
    /* nowrap | wrap | wrap-reverse */
    flex-wrap: wrap;
    height: 30vh;
    /* Justify-content: flex-start | flex-start | center | flex-end | space-between | space-around | space-evenly */

    justify-content: flex-start;
    /* Define la alinieación de los elementos hijos, respecto del eje principal  */

}
.item{
    background-color: aquamarine;
    /* width: 20%; */
    height: 50%;
    border: thin solid tomato;
    padding: 6px;
    
}
.container2{
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;


}
.container3{
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container4{
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between ;
}
.container5{
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.container6{
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;


}
.container7{
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


}



.container8{
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  height: 30vh;


}
.container9{
background-color: darkgrey;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
height: 30vh;
}

.container10{
background-color: darkgrey;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between ;
height: 30vh;
}
.container11{
background-color: darkgrey;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
height: 30vh;


}

.container13{
background-color: darkgrey;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
height: 30vh;


}
.container14{
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vh;
  justify-content: flex-start;
 

}


/* Atajo 

flex-flow: direction wrap
es un shortcut de flexdirection y flex-wrap

*/