.p-pseudoelementos::selection {
    color: #163b89;
    background-color: #6dd5ed;
  }
  *,*::after, *::before{
    /* considera los bordes como parte de contenido  */
    box-sizing: border-box;
  }

.container{
    background-color: darkgrey;
    display: flex;
    /* columna o fila flex-direction */
    /*  row  | row-reverse | colum | colum-reverse
    */
    flex-direction: row;
    flex-wrap: wrap;
    height: 30vh;

}
.item{
    background-color: aquamarine;
    /* width: 20%; */
    height: 50%;
    border: thin solid tomato;
    padding: 6px;
    
}
.container2{
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
