@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

* {
    font-family: "Sansita Swashed", system-ui;
    color: #163b89;
  
}

* *,*{
    margin: 0;

} 
*,*::after, *::before{
    box-sizing: border-box;
}
 
body{
    background: #163a89e3;
    
}
h1{
    text-align: center;
    padding-top: 20px;
}
.nav-position{
    background: #CDE5F1;
    width: 100%;
    position: sticky;
    top: 0;
}
.contenedor{
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    background: #BBD2C5;
    height: 200vh;
    border-radius: 13px;
    

    /* para centrar debo agregar porpiedades de ancho y alto */
    
    width: 70%;
}

.contenido{
    margin: 17px;

}
.img-ico{
    width: 20x;
    height: 50px;
    margin-top: 5px;
    
}
.auto-margin-left-right{    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    margin-left: 23px;
    margin-bottom: 13px;
}
.title-letter::first-letter{
    font-size: 36px;
    color: rgb(25, 0, 255);
}

hr{
    border: thin solid #163b89;
}
h3{
    padding-top: 33px;
    
}
.container{
display: flex;
flex-direction: row-reverse;
flex-wrap: nowrap;
justify-content: space-evenly;


}
.item{
    border: thin solid #163b89;
}