@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

* {
    font-family: "Sansita Swashed", system-ui;
    color: #163b89;
  
}

* *,*{
    margin: 0;

} 

body{
    background: #163B89;
    
}

.nav-position{
    background: #CDE5F1;
    width: 100%;
    position: sticky;
    top: 0;
}
main.container{
 
    margin-left: auto;
    margin-right: auto;
    color: #000;
    background: #536976;

    /* para centrar debo agregar porpiedades de ancho y alto */
    
    width: 70%;
}
.main.container.inicio{
    margin-top: 12px;
}
.img-ico{
    width: 20x;
    height: 50px;
    
}
.auto-margin-left-right{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}