@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

/* Importar un css dentro de css */
/* Son mala práctica por que son bloqueantes a la hora de que el navegador lea esta instrucción */
/* @import url('other.css'); */

/* 163B89 */

body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1, h2, h3, h4, h5, h6{
    font-family: "Sansita Swashed", system-ui;
    color: #163B89;
}
p{
    color: #2e3b43;
  
}
.title-song{
    text-align: center;
    
}
p{
    background: #2193b0;
}

#parrafo-uno{
   background-image: url(../img/image\ 3.png); 
    
}