html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*, *::after, *::before{
    box-sizing: inherit;
}
body{
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
}
h1, h2, h3{
    color: azure;
    text-align: center;
}
h3{
    text-align: left;
}
.box{
    border: thick solid red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 200px; 
    height: 200px;
}
.card{
    border: thick solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 600px;
    height: 400px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}


/* Transiciones:
    transition-property: Osea que propiedad le quiero una transición 
    transition-duration: cuanto tiempo va durar mi transición (puede expresarse en segundo, milisegundos) 
    transition-timing-function: tenemos varias funciones que van a aplicar, con que efecto vamos a aplicar la transición  (Valores: linear "lineal", ease (aceleración) ease-in (aceleración al principio), ease-out (aceleración al final), ease-in-out () steps, por defaul none
    transition-delay: tiempo de espera antes de que comience la transción 

    transtion: property duration timing-funcion delay
*/

.transitions .box{
    background-color: magenta; 
    transition-property: background-color;  /* La propiedad que quiero la transición */
    transition-duration: 500ms ; /*La duración de la transición  */
    transition-timing-function: ease; /* el tiempo con que efecto vamos a aplicar la transición */
    transition-delay:  0.5s; /* tiempo de espera antes de aplicar el efecto */
    border-color: #4776E6 ;
    transition: border-color 2s linear 1s ;

    /* Para que no se pierda la animación del fondo sin quitar el borde, le damos all para todos los elementos animables  */
    transition: all 2s ease-in-out 250ms ;

}

.transitions .box:hover{
    background-color: aliceblue;
    border-color:aquamarine ;
    border-radius: 50%;
}

/* No todas las propiedades son animables
Aquí el listado de las propiedades animables https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties

y estas según chat no se pueden animar display, position float clear overflow, overflow-x,  verflow-y margin-* padding-*  border-style  border-width box-shadow  margin-*  padding-* border-style  border-width box-shadow

*/

/* Vamos a ver como controlar que cada propiedad tenga su propia funcion de transición   */

.transitions .card{
    transition: opacity 1s ease-out, border-color 3s steps(5),
    filter 2s ease-in 1s, box-shadow 1.5s linear 2s;
}

.transitions .card:hover{
    opacity: 0.75;
    border-color: #8E54E9;
    filter: blur(0.15rem);
    box-shadow: 1rem 1rem 2rem 0.5rem #000;
}

.transitions .card img{
    transform: object-position 2s ease-in-out 3s;
}
.transitions .card img:hover{
    object-position: 100% 50%;
}
.transform-2d img {
    transition: transform 2s ease-in-out;
}
.transform-2d img:hover{
    transform: none;
    transform: translateX(1.5rem); /* Se desplaza la imagen en el eje x (o el objeto) a la distancia que establezcas  */
    transform: translateX(-2.5rem); /*También acepta valores negativos */
    transform: translateY(2.5rem); /*Se desplaza el elemento hacia el eje Y   */
    transform: translate(-4.5rem, 4.5rem); /* primer valor para x, segundo para Y*/
    transform: translate(50%, 50%);  /* Usando valores porcentuales dependiendo del tamaño, toma de referencia el cien porcierto para el tamaño del objeto a base de eso se mueve  */
    transform: translate(-50%, -50%); /* Se puede colocar porcentajes negativos */
    transform: translate(50%, 50px);

    /* Escala  aumenta el tamaño*/
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(2, 2);
    transform: scale(-1, 2);

    /* Rotación  */
    /* Valores: grados, radianes */
    transform: rotateX(90deg); /* La rotación en x, no se puede apreciar muy bien en dos dimenciones */
    transform: rotateY(60deg);
    transform: rotateY(60deg);
    transform: rotateY(90deg);
    transform: rotateZ(-60deg); /* La rotación en z es perfecta en dimeción en 2D */

    /* skew */
    transform: skewX(20deg);
    transform: skewX(-20deg);
    transform: skewY(20deg);
    transform: skew(-20deg);
    transform: skew(20deg, -20deg);

    /* Matrix (scaleX() skewY(), skewX(), scaleY(), translateX(), translateY() */
    /* Calculos */
    transform: matrix(1, 2, 2, 1, 20, 10); 
    /* Calculos matematicos  para utilizar esta funcion 
    https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/matrix
    */
    /* red transformaciones multiples */
    transform: translate(25%, -50%) rotate(240deg) skew(10deg, 20deg) scale(1rem, -2rem) ;

}
/* Activar la perspectiva */
.transform-3d{
    /* Elemento padre */
    perspective: 10rem;
}

.transform-3d img{
    transition: transform 2s ease-in-out;
}
.transform-3d img:hover{
    /* Para activar la perspectiva */
    /* transform:  translateZ(4.5rem); */
    transform: perspective(1000px) translateZ(4rem); /* perspectiva se activa desde le elemento padre, la perspectiva resive un valor, que puede estar representado en pixeles, rem, em, etc. Va indicar la longitud que tenemos para manejar la ilución de perspectiva en tres dimensiones   */
      
    transform: perspective(100rem) translateZ(4rem); /* Profundidad */
    transform: perspective(1rem) translateZ(4rem); /* Profundidad */
    transform: translateZ(4rem); /* Agregando la propiedad perspectiva al elemento padre */

    transform: translate3d(2rem, 50%, -3rem);  /* x, y, profundidad  */
    transform: scaleZ(1.5);
    transform: scale3d(2, 0.5,  3 ); /* primer valor para x, segundo para y, tercero el eje z (profundidad)   */
    transform: rotateX(-60deg);
    transform: rotateY(-60deg);
    transform: rotateY(-90deg);
    transform: rotate3d(1, 1, 1, 45deg); /* Valores, son tres valores numericos que hacen referencia a nodos vectoriales en cada uno de los ejes de la perspectiva tres D es decir (X, Y & Z) y luego declaramos un grado de inclinación   */
    transform: rotate3d(1, 0.5, 0, -45deg);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/matrix3d() */
    transform: matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 50, 100, 0, 1.1);
    transform:  rotate3d(-1, 2.5,  2, 60deg);
    transform:  rotate3d(-1, 2.5,  -2, 60deg) translate(2rem, 50%, -3rem) scale3d(2,-0.5, 3 );
    
}

/* El origen de la transformación */
.transform-origin img{
    transition: transform 2s ease-in-out;
    /*Esta propiedad recibe los valores, x, y, z transform-origin: ; */
    transform-origin: 50% 50% 0;/* defaul */
    transform-origin: 0; /* Si es un solo valor, aplica al eje x y el eje y  */
    transform-origin: 0 0; /* X Y  */
    /* Con palabra clave */
    transform-origin: top right;
    transform-origin: top left;
    transform-origin: bottom left;
    transform-origin: bottom right;
    transform-origin: bottom center;
    transform-origin: center center;
    transform-origin: -2rem -3rem;
    transform-origin: 2rem 3rem;
    transform-origin: 2rem 75%;
    transform-origin: 25% 75%;
    transform-origin: -5% -5%;
    transform-origin: 30% 90%;

}

.transform-origin img:hover{
   transform: rotate(30deg);
}

/* blue https://youtu.be/mYkmedvCLxY?si=d1jDRkDUfV4yUYqf&t=4293 */


.flip-card-1, .flip-card-2 {
  border: thick solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
    /* Las caras se posicionen absolutamente */
    /* Debo poner en el contenedor padre la posición relativa, y luego al elemento el posicionamiento absoluto, porque entoces si no agregamos esta posición al elemento, este se posicionará en la posición absoluta sobre el html */
  position: relative;
  cursor: pointer;
  transition: transform 1s ease-in-out;
   /* Aplicar la perspectiva */
  perspective: 10rem;
    /* Además agregar esta propiedad, transform-style: estilo de la transformación  
    Establece si los hijos de un elemento que tiene perspectiva en tres dimenciones, esta propiedad va a determinar como se va a comportar en el espacio 3D 
    */
  transform-style: flat;/* Valor por defecto, en el mismo plano trabaje los elementos hijos */
  transform-style: preserve-3d; /* Le estamos diciendo que los elementos hijos tengan su propia perspectiva independiente  Lo significa que a los elementos le puedo dar una transformación en 3D red */
}
.flip-card-2{
    transform: center right;
}
.flip-card-1:hover {
    transform: rotateY(180deg);
  }

.flip-card-2:hover{
    transform: translateX(-100%) rotateY(-180deg);
}

.flip-card-1 img, .flip-card-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.flip-face {
  position: absolute;
  width: 100%;
  height: 100%;
   /* Determina que las caras, (cuando un elemento en la interfaz va a tener dos lados determina como es que se va a visualizar esas caras) Este elemento tiendo dos valores visible(valor por defaul), hidden */

  backface-visibility: visible;
  backface-visibility: hidden; /* Este elemento necesita la perspectiva, no es visible en dos dimensiones, necesitamos tres dimensiones,   */
}

.flip-front {
  transform: rotateY(0deg);/* Este delante, piensa como cubo */

}

.flip-back {
  transform: rotateY(180deg); /* Este detras  */
}

