body {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;

}
html{
    box-sizing: border-box;
    font-family: sans-serif;
    
}
*,*::after, *::before{
    box-sizing: inherit;
}

.slides{
    width: 100%;
    height: 100vh;
    /* Para que pueda funcionar scroll-snap red
    El contenedor tiene la diapositivas, tiene que tener una altura del tamaño del vh (100%), además, ese ajuste lo puede hacer en verticar y horizontal
    eje y & x
     */
/* También en el eje que queramos controlar el ajuste del scroll la propiedad de overflow-eje: debe tener el valor de scroll
*/
overflow-y: scroll;

/* Para el efecto usar la propiedad scroll-snap-type */
/* Recibe dos valores red valor en x, en y, el valor en inline,  el valor de block, both  */
/* blue scroll-snap-type: [x | y | inline | block | both [mandatory | proximity] ]; */


}
/* .slides:nth-child(even){
  background: #000;
} */
.slide{
  width: 100%;
  height: inherit;
  background: #6dd5ed ;
}
.slide:nth-child(even){
  background: #2193b0;
  height: inherit;
}
.slide-container{
width: 100%;
height: inherit;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 2vw;
color: #A83279;

}   
