html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    /*   Efecto de desplazamiento
    https://www.w3schools.com/cssref/pr_scroll-behavior.php
    Añade un efecto de desplazamiento suave al documento:  
    */
    /* Valores: scroll-behavior: auto|smooth|initial|inherit;
    smooth: desplazamiento suave */
    scroll-behavior: smooth;
   
}
*, *::after, *::before {
    box-sizing: inherit;
}
body, h1 , h2{
    margin: 0;
}
img{
    max-width: 50%;
    height: auto;
}
.header{
    position: sticky;
    top: 0;
    padding: .25rem;
    text-align: center;
    background-color: #1565C0;
    color: whitesmoke;
}
.header a {
    margin: 0 1rem ;
    color: #FFEFBA;
    text-decoration: none;
    margin-top: 1rem;
}
.header a:hover{
    color: #5db50496;
    transition: 2s;
    font-weight: bold;
}
.slide{
    padding: 2rem;
    width: 100%;
    height: 100vh;
    color: #0c3131;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
.slide:nth-child(even){
    background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fcffff;

}

/* Usamos esta propiedad del scroll para que se haya una separación con el atributo id  */

[id]{
    /* usamos ex porque es la unidad de medida para el alto */
    scroll-margin-top: 7.8ex;
}