html {
  box-sizing: border-box;
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  );
  font-family: sans-serif;
}

*::after,
*::before {
  box-sizing:inherit;
}
:root{
--color-text: white;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    color: var(--color-text)
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection{
    background: #CC95C0;

}
.box{
    border: thick solid red;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-color: #9796f0;
    margin-bottom: 5rem;
}
/* Existen varios tipos de sombra:
* A la caja 
* Al texto 
* Filtro 
*/

.box-shadow{
    /* Para colocar sombra en el contenedor usar la propiedad box-shadow; los valores son en x y desenfoque radial(blur), luego la expansión  separados por espacio  
    movimiento
    Valores posibles 
    box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset ;
    */
    /* Que la sombra de la caja se desplace 2rem en x y en y, el blur sea de 2rem, la expansión de 2rem  y color*/
    box-shadow: 2rem 2rem 2rem 2rem #96f0b4;
    font-size: 2rem;
    text-align: center;
    color: #f0a596;
    /* text-shadow: mov-x mov-y blur-radius color red */
    text-shadow: -1rem 1rem 0.5rem hotpink ;
 
}

.box-shadow-2{
    box-shadow: -2rem -2rem 2rem 2rem #e2f096 inset;
    
}

/* Sombras multiples */
.box-shadow-multiple{
    box-shadow: -1rem -1rem 1rem 1rem #e2f096, -1rem -1rem 1rem 1rem #f096ca inset, -0.5rem -0.5rem 0.5rem 2rem rgb(78, 55, 255);
    text-align: center;
    font-size: 2rem;
    text-shadow: 1rem 1rem 0rem red, -1rem -1rem 0.5rem green; 
    

}