html {
  box-sizing: border-box;
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0);
  font-family: sans-serif;
}

*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --color-text: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: var(--color-text);
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background: #cc95c0;
}
.box {
  border: thick solid red;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 5rem;
  width: 200px;
  height: 200px;
  background-color: #9796f0;
  margin-left: auto;
  margin-right: auto;
}
/* Existen varios tipos de sombra:
* A la caja 
* Al texto 
* Filtro 
*/
hr{
  border: thin solid rgb(12, 12, 12);
}
img{
  max-width: 100%;
}

.box-shadow {
  /* Para colocar sombra en el contenedor usar la propiedad box-shadow; los valores son en x y desenfoque radial(blur), luego la expansión  separados por espacio  
    movimiento
    Valores posibles 
    box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset ;
    */
  /* Que la sombra de la caja se desplace 2rem en x y en y, el blur sea de 2rem, la expansión de 2rem  y color*/
  color: #f0a596;
  font-size: 2rem;
  text-align: center;
  /* box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset; */
  box-shadow: 1rem 1rem 1rem 1rem;
  box-shadow: -1rem -1rem 1rem 1rem;
  box-shadow: 1rem 1rem 1rem 1rem #0005;
  box-shadow: 1rem 1rem 1rem 1rem #f00 inset;
  box-shadow: 1rem 1rem 2rem 0.5rem #0007;
  /* text-shadow: mov-x mov-y blur-radius color; */
  text-shadow: -1rem -1rem 0.5rem hotpink;
}

.box-shadow-2 {
  box-shadow: -2rem -2rem 2rem 2rem #e2f096 inset;
}

/* Sombras multiples */
.box-shadow-multiple {
  font-size: 2rem;
  text-align: center;
  box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #e2f096 inset,
    -0.5rem -0.5rem 0.5rem 2rem #f096ca;
  /* text-shadow: -1rem -1rem 0.5rem navy, 1rem 1rem 0.5rem rgb(78, 55, 255); */
}
.box-shadow-multiple p {
  text-shadow: -1rem -1rem 0.5rem rgb(30, 228, 76),
    1rem 1rem 0.5rem rgb(78, 55, 255);
}
.drop-shadow {
  width: 600px;
  height: auto;
}
/* La propiedad drop-shadow() en CSS se utiliza para aplicar un efecto de sombra a un elemento, incluyendo formas complejas como imágenes con transparencias y elementos con bordes no rectos. Es parte de la función filter, que permite aplicar diversos efectos visuales a los elementos de una página web. chat gpt(26/12/2024) */
/* filter:drop-shadow (mov-x mov-y blur-radius color); */
.drop-shadow img {
  max-width: 100%;
  height: auto;
  /* filter: drop-shadow(mov-x mov-y blur-radius color); */
  box-shadow: 1rem 1rem 1rem 1rem #f00;
  filter: drop-shadow(1rem 1rem 1rem orangered);
  filter: drop-shadow(1rem 1rem 1rem steelblue);
}

.linear-gradient {
  /* Software visual https://cssgradient.io/ */
  background: rgb(245, 227, 11);
  background: linear-gradient(
    180deg,
    rgba(245, 227, 11, 1) 30%,
    rgba(0, 134, 255, 1) 44%,
    rgba(249, 32, 32, 1) 75%
  );
  border-color: white;
}
.linear-gradient-2 {
  /* Podemos pasarle los grados(simpre agregar deg "GRADOS") */
  background-image: linear-gradient(0deg, yellow, blue, red);
  background-image: linear-gradient(20deg, yellow, blue, red);
  background-image: linear-gradient(45deg, yellow, blue, red);
  background-image: linear-gradient(90deg, yellow, blue, red);
  background-image: linear-gradient(180deg, yellow, blue, red);
  background-image: linear-gradient(270deg, yellow, blue, red);
  background-image: linear-gradient(360deg, yellow, blue, red);

  /* con palabras claves  */
  background-image: linear-gradient(to right, yellow, blue, red);
  background-image: linear-gradient(to left, yellow, blue, red);
  background-image: linear-gradient(to bottom, yellow, blue, red);
  background-image: linear-gradient(to top, yellow, blue, red);
  background-image: linear-gradient(to top right, yellow, blue, red);
  background-image: linear-gradient(to bottom right, yellow, blue, red);
  /* Porcentaje de que valor */
  background-image: linear-gradient(180deg, yellow 30%, blue 20%, red);
  background-image: linear-gradient(180deg, yellow 33%, blue 35% 66%, red 68%);
}

.radial-gradient {
  /* Software de diseño */
  background: rgb(245, 227, 11);
  background: radial-gradient(
    circle,
    rgba(245, 227, 11, 1) 20%,
    rgba(249, 32, 32, 1) 75%
  );
}
/* cyan magenta */
.radial-gradient-2 {
  background-image: radial-gradient(cyan, magenta);
  background-image: radial-gradient(cyan, magenta, red);
  background-image: radial-gradient(circle 3rem, cyan, magenta, red);
  background-image: radial-gradient(circle 5rem, cyan 30%, magenta 80%, red);
  /* Degradado en forma de elipse */
  background-image: radial-gradient(
    ellipse 100px 50px,
    cyan 30%,
    magenta 60%,
    red 90%
  );
  /* Dónde se pone el circulo */
  background-image: radial-gradient(
    circle 100px at bottom,
    cyan 30%,
    magenta 80%,
    red
  );
  /* Japón */
  background-image: radial-gradient(circle 100px, red 50%, white 50%);
}
.conic-gradient {
  background-image: conic-gradient(red 0% 50%, green 51% 60%, white 61% 80%);
  background-image: conic-gradient(red 0% 50%, green 60%, white 80%);
  /* Con grados */
  background-image: conic-gradient(
    red 0deg  90deg,
    green 120deg 240deg ,
    white 240deg 360deg);

/* Donde queda el cono  */
    background-image: conic-gradient(
      from 120deg,
      red 0deg  120deg,
      green 120deg 240deg ,
      white 240deg 360deg);

      background-image: conic-gradient(
        from 90deg,
        red 0deg 120deg, 
        white 120deg 240deg,
        blue 240deg 360deg
      );
}

.repeat-gradient-lineal{
  background-image: repeating-linear-gradient(40deg, green 0 10px, blue 10px 20px, red 20px 30px);
  background-image: repeating-linear-gradient(90deg, green 0 10px, blue 10px 20px, red 20px 30px);

}
.repeat-gradient-radial{
  background-image: repeating-radial-gradient(cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
  background-image: repeating-radial-gradient(ellipse 50px 30px,  cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
  background-image: repeating-radial-gradient(circle 50px,  cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
}
.repeat-gradient-conic{
  background-image: repeating-conic-gradient(red 0 8%, yellow 8% 16%, black 16% 24%);
}

.chart-gradient{
  background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}
.donut-gradient{
  /* Debemos usar esta propiedad para la dona */
  background-image: radial-gradient(white 30%, black 31%, transparent 33%), conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.card {
  border: thick solid #000;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
}
.card img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.filter{
/* desenfoque */
  /* Unidad de medida puede se cualquiera */
  filter: blur(1rem);
  filter: blur(0.5rem);
  filter: blur(0.15rem);

/* la intensidad de la luz */
/* Valor que acepta 1 a 0*/
  filter: brightness(1); /* Con brillo */
  filter: brightness(0); /* Sin brillo */
  filter: brightness(1.5);

  /* El contraste */

  filter: contrast(0);
  filter: contrast(0.25);
  filter: contrast(0.75);
  filter: contrast(1);
  filter: contrast(2);

  /* Escala de grises */
  filter: grayscale(0);
  filter: grayscale(0.25);
  filter: grayscale(0.75);
  filter: grayscale(1);

/* Escala amallo, cafe  */
  filter: sepia(0);
  filter: sepia(0.25);
  filter: sepia(0.75);
  filter: sepia(1);
  
  /* Hue-rotate */
  /* Rota los colores del elemento en el espectro de tonos. */
  filter: hue-rotate(0deg);
  filter: hue-rotate(30deg);
  filter: hue-rotate(60deg);
  filter: hue-rotate(90deg);
  filter: hue-rotate(120deg);
  filter: hue-rotate(150deg);
  filter: hue-rotate(180deg);
  filter: hue-rotate(210deg);
  filter: hue-rotate(240deg);
  filter: hue-rotate(300deg);
  filter: hue-rotate(330deg);

  /* Invertir los colores */
  /* Funciona con los valores de 0 a 1*/
  
  filter: invert(0); /* Por defaul  */
  filter: invert(1);

  /* Opacity */
  filter: opacity(0);
  filter: opacity(0.5);
  filter: opacity(0.75);
  filter: opacity(1); /* Defaul */
  
  /* Saturación   */
  filter: saturate(0);
  filter: saturate(0.25);
  filter: saturate(0.75);
  filter: saturate(1);

/* Inver */
  filter: invert(1);
}

.filters-multiple{
  filter: blur(0.2rem) hue-rotate(270deg) opacity(0.75) invert(1);
}