*::after,
::before {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    background: #7F00FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
:root{
    --color-text: aliceblue;
    --text-center: center;
}
h1, h2, h3, h4, h5, h6{
    color: var(--color-text) ;
    text-align: var(--text-center);
}
.box{
    /* Caja  */
    /* 2rem top y botton y auto left rigth */
    margin: 2rem auto;
    width: 300px;
    height: 300px;
    border: thick dashed salmon;
  }

  /*  
  background-color: define el color de fondo del elemento
  background-imge: defjine la imagen de fondo del elemento
  background-size: define el tamaño de la imagen de fondo, primer valor x, segundo y 
        -cover: cambia el  tamaño de la imagen de fondo para asegurarse de que permenezca completamente visible. 
        -contain cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto
  background-repeat: define cómo se repite la imagen de fondo en el elemento
  background-position: define la posición de la imagen de fondo, primer valor x segundo y , si no se especifica un segundo valor éste será center 
    aparte de valores numéricos podemos indicar el posicionamiento con palabras: 
            center, top bottom, left and right
  background-clip: define cuánto debe extenderse el fondo dentro del elemento. 
  background-origin: define el origen de la imagen de fondo.
  badkground-attachment: define cómo se comportará la imagen de fondo al desplazarse por la página
  
  
  */
  
.bg-color{
    background-color: #b20a2c ;
}

.bg-image{
    background-image: url(../assets/puesta-sol.jpg);
    background-image: url(../assets/inuyasha.gif);
  
}
.bg-size{
    /* https://cssreference.io/property/background-size/  */
    background-image: url(../assets/villanos.png);
    /* 300px de ancho y 200px de alto */
    background-size: 300px 200px;
    background-size: cover; /*Adapta la imagen al tamaño de la caja, para que se vea la imagen*/
    background-size: contain /* Se asegura que la imagen cubra el contenedor, pero se puede repetir la imagaen*/
}

.bg-repeat{
    background-image: url(../assets/chenXio.png);
    background-size: 100px;
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;


    background-size: contain;
    background-position: center center ;
    /* https://cssreference.io/property/background-position/ */

}

.bg-position{
    background-image: url(../assets/link-click.gif);
    background-repeat: no-repeat;
    background-size: 150px ;
    background-position-x: right;
    background-position-y: bottom;
}
.bg-position-2{
    background-image: url(../assets/link-click.gif);
    background-repeat: no-repeat;
    background-size: 150px ;
    /* x & y */
    background-position: left center ;  
}
.bg-position-3{
    background-color: #E100FF;
    background-image: url(../assets/amore.png);
    background-repeat: no-repeat;
    background-size: 150px ;
    background-position: 10% 20% ;  
}
.bg-clip{
    /* https://cssreference.io/property/background-clip/  */
    
    background-color: #E100FF;
    background-image: url(../assets/lu.png);
    background-repeat: no-repeat;
    background-size: 150px;

    
}