@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
html{
    box-sizing: border-box;
}
*::after, 
*::before{
    box-sizing: inherit;
}
body{
    background: #4ECDC4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-white);
    text-align: center;

}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
    background-color: #c0c0aa;

}
:root{
    --color-text: #000;
    --color-white: white;
    --bg-container: (to right, #7BC6CC, #BE93C5);  
    /* background: linear-gradient(to right, #7BC6CC, #BE93C5);  */
    
}
.container{
   
    
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(auto-fill);
    margin-left: 12px;
    margin-right: 12px;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 12px;
}
.item {
    padding: 15px;
    gap: 3px 33px;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 2%;
    color: whitesmoke;
  
  }
  

  /* red
  font-family
  font-size
  font-weight
  font-style
  font-variant
  line-height red la altura de linea (interlineado)
  */

.font{
    /*  */
    font-family: "Kablammo", system-ui;
      color: red;
    /* Define el tamaño del texto. */
    font-size: 0.95em;
    /* Define el peso del texto. */
    font-weight: 100;

    /*  Define cuánto está inclinado el texto.
    font-style: normal;
    font-style: italic;
    font-style: oblique;
    https://cssreference.io/property/font-style/
    */
    font-style: oblique ;

    /* Define qué glifo utilizar para cada letra. */
    font-variant: small-caps;
    /* Mayuscula toda la tipografia  */

/* Define la altura de una sola línea de texto

line-height: normal;
line-height: 1.6;
line-height: 30px;
line-height: 0.8em;
*/
    line-height: 2em;




/* Propiedad abreviada para font-style font-variant font-weight font-size line-height y font-family. */
/* tengo que poner font-size / line-height  */
font: oblique small-caps 100 0.em / 2em  "Kablammo", system-ui;

}

/* Agregar una tipografia externa  */
/* Ya estan descargadas en la  carpeta assets */

/* Formato woff o woff2 -  Web Open Font Format */
@font-face {
    font-family: "chalet"; /* Define el nombre de la tipografia  */
    src: url("../assets/Chalet.woff") format("woff");    /* Ruta, formato */
    /*   src: url("../assets/Chalet.woff") format("woff"), url("../assets/Chalet.woff") format("woff2") */
    font-display: swap;

}
 
/*  font-display
    auto - permite que el navegador utilice el método predeterminado que suele ser block
    block - oculta brevemente el texto hasta que la fuente haya sido descargada por completo
    swap - indica al nacegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada se haya cargado por completo 
    fallback - es una mezcla de auto y swap
    optional - ocultará el texto, luego lo cargará con la fuente alternativa y finalmente aplicará la fuente personalizada. 

*/
@font-face {
    font-family: "pecita"; 
    src: url("../assets/Pecita.woff") format("woff"); 
    font-display: swap;
}
.chalet{
font-family: "chalet", sans-serif;
}

.pecita{
    font-family: "pecita", sans-serif;
    font-size: 20px;

}
.raleway{
    font-family: "Raleway", sans-serif;
    font-weight: 600;

}


/* 
Propiedades para el texto
text-align (text-align: left; text-align: right; text-align: right; text-align: justify;)
text-decoration (text-decoration: none; text-decoration: underline;)
text-indent (Sagria  text-indent: 0; text-indent: 0; "Valares numericos" text-indent: -2em;)
text-overflow (text-overflow: clip; text-overflow: ellipsis;)
    Para que funcione text overflow debe tener esto: 
    overflow: hidden
    white-space: nowrap

text-shadow

Define cómo se debe transformar el contenido del texto. https://cssreference.io/property/text-transform/
text-transform ( text-transform: none; text-transform: capitalize; text-transform: uppercase; text-transform: lowercase;)
*/


.text{
    font-size: 16px;
    text-align: left;
    color: #556270;
    text-decoration: underline;
    /* Define la sangría de la primera línea de texto del elemento. */
    text-indent: 52px;
    /* Define cómo se comporta el contenido de texto oculto si se desborda. */
    text-overflow: ellipsis;
     
}

.text-overflow{
    background-color: #4ECDC4;
    color: white;
    border: thick solid #BE93C5;
    padding: 1rem;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}


.capitalize{
    color: blueviolet;
    text-transform: capitalize; 
    /* Convierte la primera letra de cada palabra en una letra mayúscula */
}


.uppercase{
    color: beige;
    text-transform: uppercase;
    /* Convierte todas las letras en mayúsculas . */
}
.lowercase{
    color: chocolate;
    text-transform: lowercase;
    /* Convierte todas las letras en minúsculas */

    letter-spacing: 3px;  /*Espacio entre las  palabras */
}


/* Propiedad: Para los espacios en blanco 
https://cssreference.io/property/white-space/
Valores 

white-space: normal;
white-space: nowrap;
white-space: pre;
white-space: pre-wrap;
white-space: pre-line;


*/


.code{

   background-color: #000;
    white-space: pre-wrap;
}

@media screen and (min-width: 1432.09px){
.code{
    width: 50%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
     white-space: pre-wrap;  
}

}
.space-white{
    white-space: pre;
}   


:root{

    --green: green;
    --white: white;
    --coment: rgba(19, 24, 19, 0.185);
    --red: red;
    --violect: violet;
}