*::after,
*::before {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
  text-align: center;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background-color: #eaafc8;
  color: rgb(220, 246, 220);
}

.contact-form {
  --form-text-color: #300;
  --form-success-color: #4caf50;
  --form-error-color: #f44336;

  width: 80%;
  background-color: #8360c3;
  border: thin solid #2ebf91;
  margin-right: auto;
  margin-left: auto;
}
/* Para trabajar en bloque todos los elementos */

/* Dentro de contact-form los hijos directos le aplicamos los estilos  */
.contact-form > * {
  display: block;
}
