html {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}
body {
  
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, 
h2, 
h3, 
h4,
h5, 
h6{
    text-align: center;
    cursor: pointer;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background-color: #eaafc8;
  color: #2193b0;
}

/* Imagenes responsivas */

img{
    max-width: 100% ;
    /* en navegadores viejos le ponemos un height: auto; */
}

.ico{
    height: 40vh;
}
.sabrina{
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
}
.card{
    border: thick solid #2193b0;
    width: 400px;
    height: 400px;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 52px;
    background-color: #ffdde1;
   
}
.card img{
    height: 300px;
    background-color: aliceblue;
    /* object-fit cómo el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, debería redimensionarse para ajustarse a su contenedor. */
    object-fit: fill ;

    /* Valor cover, fill, container, none*/
    /* cuando usamos cover se activa otra propiedad*/
    object-fit: cover;
    object-fit: contain;
    /* Otro valor none: No adaptar el tamaño ni la composición  */
    /* object-fit: none; */
    object-position: left center;

    object-position: right top;
    object-position: 50% 50%;
    
    
}

.car2 img{
    object-fit: cover;
}
.car3 img{
    object-fit: none;
}
.car4{
    object-fit: scale-down;
    /* Toma el valor que sea menor de los valores contain y none */
}